@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Jost:wght@300&family=La+Belle+Aurore&family=Rubik:wght@300&family=Satisfy&display=swap');

#cb-cookie-banner { 
    position: fixed; bottom: 0; left: 0; width: 100%; z-index: 999; border-radius: 0; display: none;
    font-family: 'Jost', sans-serif; 
}
body {
    background-color: #253031;
    color: whitesmoke;
    font-family: 'Jost', sans-serif; ;
}
h1, h2, h3, h4, h5 {
    color: #F14A4A;
}
.card {
    background-color: #3B494A;
}
.jumbotron {
    font-family: 'Satisfy', cursive;
    background-image: url(img/fondue.jpg);
}
.descr {
    backdrop-filter: blur(10px);
}
header {
    position:sticky; 
    top: 0; 
    right: 0; 
    width: 100%; 
    z-index: 999; 
    border-radius: 0;
    margin-bottom: 20px;
}
.cont{
    margin-top: 50px;
}
.list-group-item {
    background-color: #3B494A;
    color:whitesmoke
}
.rounded {
    border: 1px solid gray;
    filter: drop-shadow(5px 5px 4px gray);
    margin: 10px;
}

.page-link {
    background-color: #3B494A;
    color:white;
}
.page-link:hover {
    color:#3B494A
}
.page-items a.active{
    background-color: gray;
}
.menu2 h1{
    font-family: 'La Belle Aurore', cursive;
    font-size: 400%;
}
.menu2 h2 {
    text-align: center;
    margin: 20px;
    font-family: 'La Belle Aurore', cursive;
    text-decoration: underline;
    font-size: 300%;
}
.photo h2 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 400%;
    text-align: center;
    text-decoration: underline;
}
.listmenu {
    margin-top: 30px;
}
.carousel-caption{
    backdrop-filter: blur(30px);
}
.bords {
    border: 3px solid #F14A4A;
    margin-top: 10px;
    margin-bottom: 4px;
}
.resto main h1 {
font-family: 'Dancing Script', cursive;
   font-size: 300%;
}
.resto a{
    color:white
}
.resto a:hover {
    color:#F14A4A
}
.resto main h5,p{
    font-family: 'Dancing Script', cursive;
    font-size: 150%;
}
.contact h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
}
.valid-feedback {
    color: rgb(47, 201, 33);
}
.form-control {
    background-color: #3B494A;
    color: whitesmoke;
}
.form-select {
    background-color: #3B494A;
    color: whitesmoke;
} 
header .navbar {
    background-color: #3B494A;
    color:white
}
header .navbar a {
    color: whitesmoke;
}
header .navbar a:hover {
    color:#F14A4A
}

.navbar-brand {
    font-family: 'Dancing Script';
    font-size: 200%;
}

.navbar-nav a.active { 
    background-color: #202829;
    font-weight: bolder;
    border-radius: 10px;
}
.dropdown-item {
    background-color: #3B494A;
}
.dropdown a:visited {
    color: whitesmoke;
}
.carousel-item p {
    font-family: 'Jost', sans-serif;
    font-size:100%;
}

a.card-link {
    background-color: #F14A4A;
    color:whitesmoke;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
a:hover.card-link{
    background-color: #752222;
}

.menu2 p{
    font-family: "Jost", sans-serif;
    font-size: 80%;
}
footer p,a {
    font-family: 'Jost', sans serif;
    color: whitesmoke;
    font-size: 100%;
}
footer a:hover {
    color: #F14A4A;
}
footer h6{
    color: #F14A4A;
}
footer {
    padding-top: 10px;
}
.livraison .plat {
    border-bottom: 0.5px solid whitesmoke;
    padding: 5px;
}
.quantites-panier {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #fc2f2f;
    background-color: #eee;
    color: #333;
    padding: 0px;
    margin-bottom:3px ;
    text-align: center;
}
.livraison h1{
    text-align: center;
}
.livraison .subtitle {
    text-align: center;
    font-family: 'Jost', sans-serif;
}
.nom-plat {
    text-align: center;
}
.livraison h5, h3 {
    font-family: 'Dancing Script';
    font-size: 200%;
    margin-top: 10px;
}

.nom-plat {
    font-size: 110%;
}
.nom-plat-panier, .prix-plat-panier {
    font-size: 80%;
    font-weight: 400;
}

.ligne-panier {
    margin-right: 20px;
    font-size: 130%;
    font-weight: 700;
}
.panier-total {
    border-top: 1px solid whitesmoke;
    margin-right: 20px;
    font-size: 130%;
}

.panier {
    background-color: #3B494A;
    border-radius: 10px;
}
.ligne-panier-2 {
    border-bottom: 1px solid whitesmoke;
}
#namur, #liege, #bruxelles {
    scroll-margin-top: (125px);
}
html{
    scroll-padding-top: 90px;
 }
 .bouton-livraison {
    font-family: 'Jost',sans-serif;
 }